# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
packages
*.ncrunchsolution
*.ncrunchsolution.user
*.testsettings
*.suo
*.user
*.vsmdi
*.cache